*{
	
	margin:0;
	padding:0;
	font-family: 'Oxygen', sans-serif;


}

body{

  background: #fdc830; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdc830, #f37335); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdc830, #f37335); 

}

.content{

	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	margin-top:2%;
	align-content:center;

}

.content .title{
	
	color:#ffff;
	font-size:30px;
	font-weight:600;
	text-align:center;


}

.content .card{
	
	width:500px;
	height:280px;	
	background:#f7f1e3;
	margin:10px auto;
	-webkit-box-shadow: 5px 9px 15px -12px #000000; 
	box-shadow: 5px 9px 15px -12px #000000;


}


.card .card-title{
	
	color:#000;
	font-size:20px;
	margin-top:20px;
	margin-left:20px;

}

.card .card-close{
	
	display:flex;
	justify-content:flex-end;
	margin:-15px 20px;
	cursor:pointer;

}

.card .card-close i{

	color:#f37335;
}

.card .card-header{


	margin-left:22px;
	margin-top:20px;

}

.card-header h2{

	font-size:2rem;

}

.card-temperature{
	
	display:flex;
	margin-top:20px;
	margin-left:22px;
	flex-direction:row;
	flex-wrap:wrap;


}

.card-temperature i{
	
	color:#f37335;
}

#arrowUp{

	margin-left:10px;
}

.card-temperature span{

	margin-left:10px;

}

.line-card {

	width:90%;
	margin:20px auto;
}

.line-card hr{

	border:1px solid #fdc830;
}

.card-days{

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: space-around;
}

.card-2{

	margin-top:10px;
	color:#f37335;
	font-weight:bold;
}
.content .search{
	
	display: flex;
	padding-top:30px;
	align-items:center;
	margin:auto;

}

.search #pesquisar{

	width:400px;
	height:50px;
	font-size:20px;
	padding-left:10px;

}

::placeholder{

	
	padding-left:20px;
	font-size:18px;
}

#btnPesquisar{

	color:#A4A4A4;
	font-size:22px;
	margin-left:-40px;
	cursor:pointer;
}

.line{
	
	margin-top:80px;
	width:45%;


}

hr{
	
	border:0.5px solid #fff;
}

.items{

	margin-top:20px;
	display:flex;
	justify-content:flex-start;

	

}

.item-title h2{

	color:#FFFF;
	font-size:40px;
	margin-left:50px;
}

.item-table{
	
	margin-top:30px;
	display:flex;
	justify-content:flex-start;
	flex-wrap:wrap;
	justify-content:space-around;




}

.item-table .table1{
	

}

.item-table .table1 th{ 
	
	color:#77777777;
	padding: 0 2px 5px;
    line-height: 15px;


}

.item-table table td{ 
	
	color:#000;
	font-size:1.2rem;
	padding-top:40px;

}

footer{

	margin-top:70px;
	margin-bottom:50px;
	text-align:center;
}

footer span{

	color:#fff;
	font-size:20px;
}